.player {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}
.player-container {
    flex-grow: 2;
}
.player-control-area {
    display: flex;
    background-color: black;
    align-items: center;
}
.player-button {
    border-style: hidden;
    cursor: pointer;
    color: white;
    background-color: #11ffee00;
    font-size: 20px;
    height: 43px;
    width: 33px;
}
.player .player-control-area .left-buttons {

}
.player .player-control-area .viewing-panel{
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 4px;
}
.player .player-control-area .viewing-panel .viewing-time {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.player .player-control-area .viewing-panel .viewing-progressbar {
    display: flex;
    flex-grow: 2;
    background-color: black;
    height: 5px;
    margin: 6px;
    cursor: pointer;
}
.player .player-control-area .viewing-panel .viewing-progressbar .progress-slider {
    background-color: red;
    border-radius: 3px;
}
.player .player-control-area .viewing-panel .viewing-progressbar .slider-point {
    height: 8px;
    width: 8px;
    opacity: 1;
    border-radius: 50%;
    display: inline-block;
    margin: -1px;
    transition-timing-function: ease-in, ease-out;
    transition-duration: 300ms;
}
.player .player-control-area .viewing-panel:hover .viewing-progressbar .animated-btn {
    background-color: red;
    box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 2px white;
}
.player .player-control-area .viewing-panel .video-duration {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.player .player-control-area .right-buttons {

}

