.player-button {
    border-style: hidden;
    cursor: pointer;
    color: white;
    background-color: #11ffee00;
    font-size: 20px;
    height: 43px;
    width: 37px;
}
.player-control-area {
    display: flex;
    background-color: black;
    align-items: center;
}
.player-container {
    flex-grow: 2;
}
.player {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}
.empty-space {
    display: flex;
    flex-grow: 2;
    align-items: center;
}